@import "../../utils/_variables.scss";

.card {
    width: 300px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-img-top {
    width: 100% !important;
    height: 250px;
}

.cardGrid {
    display: flex;
    width: 1323px;
    flex-wrap: wrap;
    justify-content: center;
}

.loaderPage {
    width: 1343px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10%;
}

.infinite-scroll-component__outerdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    ::-webkit-scrollbar {
        display: none;
    }
}

.infinite-scroll-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.btn {
    background-color: $main-color;
    border: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.label {
    color: rgb(133, 103, 41);
}

@media screen and (max-width: 1200px) {
    .card {
        width: 200px;
    }
    .card-img-top {
        height: 180px;
    }
    .cardGrid {
        max-width: 89%;
    }
}