@import '../../utils/_variables.scss';

.Page {
    display: flex;
    background-color: $orange-background;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 91vh;
}