@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap');

:root {
    --background: #FAFAFA;
    --orange-background: #fece87d7;

    --main-color: #FF9D28;
    --accent-color: #ffbc69;
    --third-color: #DD7A03;
    

    --font-color: oklch(0.2 0 0);
    --font-color-light: oklch(0.9 0 0);

    --main-font: "Open Sans";
    --headers: "Alfa Slab One";
    
    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 16px;
    --border-radius-5: 20px;

    --border-radius-8: 32px;

    --font-size-1: 4px;
    --font-size-2: 8px;
    --font-size-3: 12px;
    --font-size-4: 16px;
    --font-size-5: 18px;
    --font-size-6: 20px;
    --font-size-7: 22px;
    --font-size-8: 24px;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
}