
html {
    background-color: var(--background);
}

body {
    margin: 0;
}

.App {
    font-family: var(--main-font);
}
button {
    font-family: var(--main-font);
}

.fa-person-walking,
.fa-magnifying-glass,
.fa-chevron-down {
    transform: scale(1.5);
    margin: 0 15px;
    cursor: pointer;
    color: white;
}
.icon {
    filter: invert(1);
    height: 30px;
    width: 30px;
    margin: 0 15px;
}

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-family: var(--headers);
        margin-left: 20px;
        font-size: 2.1rem;
        color: white;
    }
    .links {
        display: flex;
        h3 {
            margin: 0;
        }
    }
    .button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 20px;
        h6 {
            margin-left: 4px;
            background-color: white;
            color: var(--third-color);
            padding: 3px 6px;
            border-radius: 8px;
        }
    }
    .HomeLink {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        img {
            margin-left: 10px;
            width: 50px;
            height: 50px;
        }
    }
}
