.languageList {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: var(--border-radius-2);
        padding: var(--spacing-2) var(--spacing-4);
        font-size: var(--font-size-4);
        &:focus {
            outline: none;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        border-radius: var(--border-radius-2);
        padding: var(--spacing-2) var(--spacing-4);
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: var(--spacing-2) var(--spacing-4);
            border-radius: var(--border-radius-2);
            transition: all 0.3s ease;
            &:hover {
                outline: none;
                background-color: var(--main-color);
                color: white;
            }
            &__title {
                font-size: var(--font-size-4);
            }
            &__flag {
                width: 20px;
                height: 20px;
                object-fit: cover;
                border-radius: var(--border-radius-2);
            }
        }
    }
}