.dogWalkingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__banner {
        margin-top: 10px;
        border-radius: 4px;
        width: 90%;
        height: 150px;
        background: linear-gradient(to bottom, rgba(190, 190, 190, 0.3), rgba(190, 190, 190, 0.3)),
                    url("/images/banner.jpg") no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
        }
        h1 {
            color: white;
            font-family: var(--headers);
            font-size: 3.5rem;
            text-align: center;
        }
    }
    &__resultsSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
