.emptyDogpen, .activeDogpen {
    display: flex;
    width: min(90%, 1200px);
    min-height: 70%;
    margin-top: var(--spacing-8);
    padding: var(--spacing-8);
    border-radius: var(--border-radius-3);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white-background);
    animation: fadeIn 0.4s ease-in;
    @media screen and (max-width: 768px) {
        width: 95%;
        padding: var(--spacing-6);
        margin-top: var(--spacing-6);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        margin-top: var(--spacing-10);
        margin-bottom: var(--spacing-6);
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        color: var(--main-color);
        @media screen and (max-width: 768px) {
            font-size: var(--font-size-6);
        }
    }

    &__subtitle {
        font-family: var(--headers);
        text-align: center;
        color: var(--main-color);
        margin: var(--spacing-4) 0;
        @media screen and (max-width: 768px) {
            font-size: var(--font-size-5);
        }
    }
}

.emptyDogpen {
    &__title, &__subtitle {
        font-family: var(--headers);
    }
}

.activeDogpen {
    .cardGrid {
        width: 100%;
        margin-top: var(--spacing-6);
    }
}
