@import '../../utils/_variables';

.DogPen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 91vh;
    border-radius: 1px solid black;
    background-color: $orange-background;
    h1 {
        font-family: $headers;
        color: white;
    }
    .card-body .btn {
        display: none;
    }
}

.emptyDogpen, .activeDogpen {
    display: flex;
    width: 75%;
    height: 70%;
    margin-top: 35px;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h1 {
        margin-top: 40px;
        font-size: 3rem;
    }
}

.emptyDogpen {
    h1, h3 {
        font-family: $headers;
    }
    background-color: #fece87ee;
}

.activeDogpen {
    background-color: #fece87ee;
}
