@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Open+Sans&display=swap');

$background: #FAFAFA;
$main-color: #FF9D28;
$accent-color: #ffbc69;
$third-color: #DD7A03;
$main-font: "Open Sans";
$headers: "DM Serif Text";