.MainBanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(142, 142, 142, 0.3), rgba(142, 142, 142, 0.3)),
        url("/images/happyFamily.jpg") no-repeat center center;
    background-size: cover;
    .twoButtons {
        display: flex;
        flex-direction: column;
        justify-content: flex;
    }
    h1 {
        font-family: var(--headers);
        font-size: 4rem;
        color: aliceblue;
    }
    button {
        cursor: pointer;
        border-radius: 30px;
        border: none;
        color: var(--background);
        h2 {
            padding: 0 28px;
            color: var(--third-color);
        }
    }
    .fa-chevron-down {
        transform: scale(3);
        margin-top: 15px;
        color: var(--third-color);
    }
}

.FirstSection,
.SecondSection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    img {
        width: 400px;
    }
    p {
        width: 500px;
    }
}