.CurrentProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .speechBubble {
        display: flex;
        max-width: 400px;
        width: 250px;
        height: 40px;
        padding-bottom: 20px;
        margin: 0 0 50px 0;
        background: var(--background);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        h5 {
            padding: 0 15px;
        }
    }
    .speechBubble:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid var(--background);
        border-top: 10px solid var(--background);
        border-bottom: 10px solid transparent;
        margin: 40px 0 0 220px;
    }
    img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }
    .myProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
        border: 3px solid var(--main-color);
        border-radius: 5px;
    }
    .myProfile:hover {
        border-color: var(--accent-color);
        filter: brightness(1.50);
    }
}
