.notFoundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: oklch(0.9 0 0 / 0.5);
    color: var(--main-color);
    &__title {
        font-size: 100px;
        font-weight: 600;
    }
    &__description {
        font-size: var(--font-size-4);
        font-weight: 400;
        text-align: center;
        @media (max-width: 1024px) {
            font-size: var(--font-size-3);
        }
    }
    &__button {
        font-size: var(--font-size-4);
        font-weight: 400;
        color: var(--main-color);
        text-decoration: none;
        border: 1px solid var(--main-color);
        border-radius: var(--border-radius-2);
        padding: var(--spacing-2) var(--spacing-4);
        margin-top: var(--spacing-4);
        transition: all 0.3s ease;
        &:hover {
            background-color: var(--main-color);
            color: white;
        }
        @media (max-width: 1024px) {
            font-size: var(--font-size-3);
        }
    }
}